<a href="https://colab.research.google.com/github/mingzinote/orm/blob/main/1229__%EC%9E%85%EB%A0%A5%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 입력함수 input

## 1.1 input 실습 - 1

In [ ]:
input('입력해주세요')

입력해주세요10

'10'

In [ ]:
int(input('입력해주세요'))

입력해주세요10

10

# 1.2 input 실습 - 2

input으로 받은 값을 변수에 할당

In [ ]:
name = input('이름을 입력해주세요')

In [ ]:
print("Hello, " + name + "!")

In [ ]:
# input을 활용한 덧셈 - 문자열인 경우
a = input("첫번째 숫자를 입력해주세요")
b = input("두번째 숫자를 입력해주세요")

print("a + b = ", a+b, "입니다.")

In [ ]:
# input을 활용한 덧셈 - 숫자열인 경우
a = int(input("첫번째 숫자를 입력해주세요"))
b = int(input("두번째 숫자를 입력해주세요"))

print("a + b = ", a+b, "입니다.")

첫번째 숫자를 입력해주세요10
두번째 숫자를 입력해주세요20
a + b = 30 입니다.

# 2.출력함수 Print

In [ ]:
# 1. 여러줄 출력
'출력합니다.'
'출력합니다.'

'출력합니다.'

In [ ]:
# 2. 여러값 출력

print("hello", "world", "!")

hello world !

In [ ]:
# 3. sep 구분자

print("hello", "world", "i", sep = "-")

hello-world-i

In [ ]:
# 3. sep 구분자 / end 구분자

print("hello", "world", "!" , sep = "-", end = "!!!")

hello-world-!!!!

In [ ]:
# 4. f-string
# 4.1 f-stering에서 f가 없을때
name = 'licat'
age = 10
print('제 이름은 {name}, 제 나이는 {age} 입니다.')

제 이름은 {name}, 제 나이는 {age} 입니다.

In [ ]:
# 4.2 f-stering에서 중괄호가 없을때
name = 'licat'
age = 10
print(f'제 이름은 name, 제 나이는 age 입니다.')

제 이름은 name, 제 나이는 age 입니다.

In [ ]:
# 4.3 f-string을 제대로 사용했을때
name = 'licat'
age = 10
print(f'제 이름은 {name}, 제 나이는 {age} 입니다.')

제 이름은 licat, 제 나이는 10 입니다.

In [ ]:
# 4.4 예시
name = input("이름을 입력해주세요")
age = int(input("나이를 입력해주세요"))

print(f'제 이름은 {name}, 제 나이는 {age} 입니다.')

이름을 입력해주세요장민지
나이를 입력해주세요18
제 이름은 장민지, 제 나이는 18 입니다.

In [ ]:
# 5. None

a = None

In [ ]:
a

In [ ]:
print(a)

None